<ul class="nav sidebar-menu">
    <li class="open">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon  glyphicon-file"></i>
            <span class="menu-text">咨询问题集合</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li class="">
                <a href="/Question/AddNewQuestion" title="添加新问题">
                    <span class="menu-text">添加新问题</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/Cache/Cache/LeonidClear" title="狮子座缓存">
                    <span class="menu-text">狮子座缓存</span>
                </a>
            </li>
            <li class="active">
                <a href="/csearchlight/Cache/Cache/DealNewRedis" title="NewRedis缓存">
                    <span class="menu-text">NewRedis缓存</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon  glyphicon-exclamation-sign"></i>
            <span class="menu-text">订单管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li class="">
                <a href="/csearchlight/Order/Order/OrderList/" title="订单列表">
                    <span class="menu-text">订单列表</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/Order/Order/OrderDetail" title="订单详情">
                    <span class="menu-text">订单详情</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/Order/Order/OrderDianPing" title="订单点评">
                    <span class="menu-text">订单点评</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/Order/Order/MemberShipInfo" title="查询会员信息">
                    <span class="menu-text">查询会员信息</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon  glyphicon-send"></i>
            <span class="menu-text">活动管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li class="">
                <a href="/csearchlight/Activity/Activity/ActivityResult/" title="活动抽奖结果信息">
                    <span class="menu-text">活动抽奖结果信息</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon  glyphicon-paperclip"></i>
            <span class="menu-text">工具管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li class="">
                <a href="/csearchlight/Tools/Tools/SecretTool/" title="加解密工具">
                    <span class="menu-text">加解密工具</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/Tools/Tools/JsonFormat/" title="Json格式化">
                    <span class="menu-text">Json格式化</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/Tools/Tools/QtImageDeal/" title="二维码解析">
                    <span class="menu-text">二维码解析</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/Tools/Tools/GetCityInfoByIp" title="IP定位城市">
                    <span class="menu-text">IP定位城市</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/Tools/Tools/UsuallyLinkAddress/" title="常用地址">
                    <span class="menu-text">常用地址</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon  glyphicon-globe"></i>
            <span class="menu-text">前端管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li class="">
                <a href="/csearchlight/MaterialLibrary/index.html" title="前端一期特效">
                    <span class="menu-text">前端一期特效</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/SecedeSpecialEfficiency/index.html" title="前端二期特效">
                    <span class="menu-text">前端二期特效</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon  glyphicon-folder-open"></i>
            <span class="menu-text">文档管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li class="">
                <a href="/csearchlight/FileManage/FileManage/FileManageIndex" title="文档管理集合页">
                    <span class="menu-text">文档管理集合页</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/FileManage/FileManage/FileUpload" title="上传资源文件">
                    <span class="menu-text">上传资源文件</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon  glyphicon-home"></i>
            <span class="menu-text">营销组之家</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li class="">
                <a href="/csearchlight/FrontFamily/FrontFamily/FrontFamilyIndex/" title="我们的团队">
                    <span class="menu-text">我们的团队</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/FrontFamily/FrontFamily/FrontSayYouWant/" title="心愿树">
                    <span class="menu-text">心愿树</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon  glyphicon-stats"></i>
            <span class="menu-text">用户轨迹查询</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li class="">
                <a href="/csearchlight/SpecialStatistic/SpecialStatistic/SpecialStatisticIndex/" title="轨迹简单查询">
                    <span class="menu-text">轨迹简单查询</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/SpecialStatistic/SpecialStatistic/OrderFinalInfoIndex/" title="入口订单量查询">
                    <span class="menu-text">入口订单量查询</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/SpecialStatistic/SpecialStatistic/TimeSliceSpecial/" title="专题访问时段">
                    <span class="menu-text">专题访问时段</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon  glyphicon-share"></i>
            <span class="menu-text">晨会知识分享</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li class="">
                <a href="/csearchlight/MoreingShare/MoreingShare/MoreingShareInfoList" title="晨会分享列表">
                    <span class="menu-text">晨会分享列表</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/MoreingShare/MoreingShare/MoreingShareAddInfo" title="添加分享记录">
                    <span class="menu-text">添加分享记录</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/MoreingShare/MoreingShare/MoreingShareComment" title="分享点评">
                    <span class="menu-text">分享点评</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/MoreingShare/MoreingShare/MoreingSharePersonList" title="个人分享列表">
                    <span class="menu-text">个人分享列表</span>
                </a>
            </li>
            <li class="">
                <a href="/csearchlight/MoreingShare/MoreingShare/MoreingShareConfig" title="分享考核配置页">
                    <span class="menu-text">分享考核配置页</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
